*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none !important;
}
.icons i{
    font-size: 1.7rem;
    padding: 0px 8px;
}
.firstsection ul li{
    margin: 0px 20px 0px 20px;
    padding: 10px 0px;
    font-size: 1.25rem;
}

@media screen and (max-width:992px){
    
    .firstsection ul{
        display: block !important;
        padding: 0px;
    }
    .firstsection ul li{
        margin: 0px;
        padding: 10px 0px;
        font-size: 1rem;
    }
    .thirdsection p{
        font-size: 1rem !important;
    }
    .footersetting{
        display: block !important;
        text-align: center !important;;
    }
}